[Unit]
Description=Run NZT-48 on H4 Closes (UTC Grid)

[Timer]
# Firing at 01, 05, 09, 13, 17, 21 UTC 
# (This matches your 08, 12, 16, 20, 00, 04 WIB close)
OnCalendar=*-*-* 01,05,09,13,17,21:01:00
Persistent=true

[Install]
WantedBy=timers.target